
@import 'base';
@import 'colors';

.black-bg{
  background: $blackBg;
  .progress-bar {
    background-color: #ccc;
    height: 2px;
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
  }
}
.roy {
  font-size: 14px;
  margin-top: -7px;
}
.section-padding2{
  padding: 80px 0;
  .welcome-img {
    position: relative;
    border-top: 28px solid #e5e5e5;
    &::before {
      content: "";
      position: absolute;
      border-left: 28px solid #e5e5e5;
      top: -28px;
      bottom: 40%;
      left: -28px;
    }
    &::after {
      content: "";
      position: absolute;
      border-left: 28px solid #e5e5e5;
      top: -28px;
      bottom: 40%;
      right: -28px;
    }
    .bor-top {
      position: absolute;
      border-top: 28px solid #fff;
      top: -28px;
      right: 15%;
      left: 15%;
    }
    .tg-left {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border-bottom: 28px solid #e5e5e5;
      border-right: 28px solid transparent;
      left: 15%;
      top: -28px;
    }
    .tg-right {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      right: 15%;
      top: -28px;
      border-bottom: 28px solid #e5e5e5;
      border-left: 28px solid transparent;
    }
    img, video{
      width: 100%;
    }
  }
}

.header{
  padding: 15px 0;
  transition: all .3s;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header.header_sticky{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
    transform: translate3d(0,0,0);
    z-index: 111;
    -webkit-animation-name: fade-in-down;
    animation-name: fade-in-down;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    background-color:#000;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 99;
}

.loader {
  border: 2.5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 3px solid #000;
  display: inline-block;
  width: 14px;
  height: 14px;
  animation: spin 1s linear infinite;
  margin-right: 8px;
  vertical-align: middle;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
button {
  &:disabled {
    cursor: not-allowed;
    opacity: 0.7;
    &:hover {
      background-color: #000;
    }
  }
}
@-webkit-keyframes fade-in-down {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0,-50px,0);
    transform: translate3d(0,-50px,0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fade-in-down {
  0% {
    
    -webkit-transform: translate3d(0,-50px,0);
    transform: translate3d(0,-50px,0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.fade-in-down {
  -webkit-animation-name: fade-in-down;
  animation-name: fade-in-down;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

/*Header area css*/


.search-bar input {
  width: 100%;
  padding: 10px 20px;
  border-radius: 30px;
  border: none;
  padding-right: 35px;
}

.search-bar .form-group {
  margin-bottom: 0;
}

.main-menu li a {
  padding: 10px;
  color: $whiteColor;
  font-weight: 500;
}

.main-menu li a:hover {
    color: $orangeColor;
}


.main-menu .user-pro {
  color: #fff;
  .info-tab {
    float: left;
  }
  .avt {
    float: right;
    margin-left: 5px;
    position: relative;
    a {
      padding: 0;
    }
    img {
      height: 40px;
      width: 40px;
      border-radius: 50%;
      border: 1px solid #ccc;
      object-fit: cover;
    }
    &:hover {
      .dropdown-content {
        transform: scale(1);
      }
    }
  }
  .dropdown-content {
    position: absolute;
    top: 111%;
    left: -70%;
    padding-top: 2px;
    transform: scale(0);
    transform-origin: top center;
    transition: all 0.3s;
    &:after {
      content: "";
      display: block;
      border-bottom: 5px solid #ccc;
      border-right: 5px solid transparent;
      border-left: 5px solid transparent;
      position: absolute;
      top: -2px;
      left: 50%;
      transform: translateX(-50%);
    }

    ul {
      background: #000;
      box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
      border-top: 2px solid #ccc;
      padding-bottom: 7px;
      padding-top: 3px;
      li {
        font-size: 13px;
        margin-left: 0;
        cursor: pointer;
        text-align: center;
        padding: 5px;
        width: 100px;
        a {
          padding: 0;
        }
      }
    }
  }
}
.main-menu li{
  display: inline-block;
  &:last-child{
    margin-left:8px;
    .connect {
      color: $blackColor;
      background: $whiteBg;
      border-radius:30px;
      padding: 10px 20px;
      border: 1.2px solid transparent;
      transition: all .3s;
      &:hover{
        color: $whiteColor;
        background: $blackBg;
        transition: all .3s;
        border: 1.2px solid $whiteColor;
      }
    }
  }
}


/*Home welcome area css*/


.wel-title {
  h1 {
    font-size: 45px;
    font-weight: 800;
  }
  h4 {
    font-weight: 800;
    font-size: 18px;
    margin-top: 25px;
  }
  h2 {
    font-size: 36px;
    font-weight: 800;
    display: flex;
    align-items: center;
    img {
      padding-right: 9px;
      width: 37px;
    }
    
  }
  h5 {
    font-size: 18px;
    font-weight: 800;
  }
  
  
}


small.title-top {
  font-size: 16px;
  font-weight: 300;
  display: inline-block;
  padding: 5px 10px;
  background: $grayBg;
  border-radius: 30px;
  box-shadow: 0 2px 4px $grayColor;
  margin-bottom: 30px;
  img {
    width: 23px;
    height: 23px;
    object-fit: cover;
    border-radius: 50%;
  }
  
}

.cbtn {
  background: $blackBg;
  padding: 10px 50px;
  border-radius: 30px;
  font-weight: 800;
  display: inline-block;
}

.button-group a:last-child {
  margin-left: 20px;
}

.button-group {
  margin-top: 45px;
}

.cbtn.cbtn-black {
  color: $whiteColor;
  border: 2px solid $blackColor;
  transition: all .3s;
}

.cbtn.cbtn-white {
  color: $blackColor;
  background: $whiteBg;
  border: 2px solid $blackColor;
  transition: all .3s;
  &:hover {
    background: $blackBg;
    color: #fff;
    transition: all .3s;
  }
}


.cbtn.cbtn-black{
  &:hover {
    background: $whiteBg;
    color: $blackColor;
    transition: all .3s;
  }
}




/*Creators area css*/
.creator_list {
    display: flex;
    justify-content: flex-start;
    max-width: 100%;
}

.creatorImgs {
  position: relative;
  .bigImg {
    border-radius: 50%;
    width: 125px;
    object-fit: cover;
  }
}

img.smallImg {
    position: absolute;
    bottom: 0%;
    right: 0%;
    z-index: 3;
    border: 1px solid $whiteColor;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.creatorImgs {
    margin: 13px;
    text-align: center;
    position: relative;
    z-index: 2;
}

.creator_link {
  a {
    color: #6c757d;
    font-size: 18px;
    font-weight: 500;
    margin-top: 10px;
    display: block;
  }
}


/*Portfolio area css*/

.creator_list {
    display: flex;
    justify-content: flex-start;
    max-width: 100%;
}

.creatorImgs {
  .bigImg {
    border-radius: 50%;
}

}
img.smallImg {
    position: absolute;
    bottom: 0%;
    right: 0%;
    z-index: 3;
    border: 1px solid $whiteColor;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.creatorImgs {
    margin: 17px;
    text-align: center;
    position: relative;
    z-index: 2;
}

.creatorImgs {
  a {
    color: #6c757d;
    font-size: 20px;
    font-weight: 500;
    margin-top: 10px;
    display: block;
}
}

.portfolio-area {
    padding: 50px 0;
}

.portfolio_content {
    background: $grayBg;
    padding: 20px;
    border-radius: 0 0 10px 10px;
    h5 {
      font-size: 15px;
      color: $blackColor;
      font-weight: 400;
  }
  h1 {
    color: $blackColor;
    font-size: 18px;
    font-weight: 700;
    img {
      padding-right: 5px;
      width: 30px;
    }
    span {
      color: #626161;
      font-size: 14px;
    }
  }

}



.author {
  margin-top: 26px;
  position: relative;
  a {
    font-size: 14px;
    color: $blackColor;
    font-weight: 500;
  }
  img {
    margin-right: 5px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
  }
  
}

/* page not found */
.page_404 {
  padding: 40px 0;
  background: #fff;
  font-family: "Arvo", serif;
  margin-top: 50px;
}
.four_zero_four_bg h1 {
  font-size: 80px;
  font-weight: bold;
}
.four_zero_four_bg h2 {
  font-size: 80px;
}
.four_zero_four_bg h3 {
  font-size: 80px;
}

.four_zero_four_bg {
  margin-bottom: 40px;
}
.contant_box_404 {
  margin-bottom: 90px;
}
.infinite-scroll-component  {
  overflow-x: hidden !important;
}
/*Footer area css*/

.footer-area{
  padding: 20px 0;
}

.footer-menu {
  li {
    a{
      color: $whiteColor;
      font-size: 14px;
      display: inline-block;
      margin: 0 10px;
    }
  }
}



/*Portfolio css*/
.single_portfolio {
  margin-bottom: 35px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 20px;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1) 0s;
  .portfolio_img{
    position: relative;
    height: 350px;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
    img, video {
      object-fit: cover;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
    }
  }
  &:hover {
    transform: translateY(-4px);
    box-shadow: rgba(0, 0, 0, 0.07) 0px 10px 20px;
  }
}




/*Common css*/

.title {
  h1{
    font-weight: 300;
    font-size: 40px;
    color: $blackColor;
    margin-bottom: 40px;
    span{
      font-size: 20px;
    }
  }
}



.upload_btn{


  .file {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .file > input[type='file'] {
    display: none
  }
  
  .file > label {
    font-size: 1rem;
    font-weight: 300;
    cursor: pointer;
    outline: 0;
    user-select: none;
    border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
    border-style: solid;
    border-radius: 4px;
    border-width: 1px;
    background-color: hsl(0, 0%, 100%);
    color: hsl(0, 0%, 29%);
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .file > label:hover {
    border-color: hsl(0, 0%, 21%);
  }
  
  .file > label:active {
    background-color: hsl(0, 0%, 96%);
  }
  
  .file > label > i {
    padding-right: 5px;
  }
  
}


.creator-media-upload{


  .file {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .file > label {
    font-size: 1rem;
    font-weight: 300;
    cursor: pointer;
    outline: 0;
    -webkit-user-select: none;
    user-select: none;
    border-color: #d8d8d8 #d1d1d1 #bababa;
    border-style: solid;
    border-radius: 4px;
    border-width: 1px;
    background-color: white;
    color: #4a4a4a;
    padding-left: 25px;
    padding-right: 35px;
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .file > label:hover {
    border-color: hsl(0, 0%, 21%);
  }
  
  .file > label:active {
    background-color: hsl(0, 0%, 96%);
  }
  
  .file > label > i {
    padding-right: 5px;
  }
  
}
.mainNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .balance {
    font-size: 13px;
  }
  .info {
    font-size: 12px;
    font-style: italic;
  }
}

.search {
  position: relative;
  .icon-search {
    position: absolute;
    right: 3%;
    top: 29%;
    cursor: pointer;
  }
}

.overlay {
  width: 100%;
  height: 100%;
  background: black;
  opacity: .7;
  min-height: 2000px;
}
.loader-5 {
	height: 32px;
	width: 32px;
	-webkit-animation: loader-5-1 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
  animation: loader-5-1 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
  position: absolute;
  left: 50%;
  top: 50%;
  margin:0px auto;
}
@-webkit-keyframes loader-5-1 {
	0%   { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}
@keyframes loader-5-1 {
	0%   { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
.loader-5::before {
	content: "";
	display: block;
	position: absolute;
	top: 0; left: 0;
	bottom: 0; right: auto;
	margin: auto;
	width: 8px;
	height: 8px;
	background: #FFF;
	border-radius: 50%;
	-webkit-animation: loader-5-2 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
	        animation: loader-5-2 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
}
@-webkit-keyframes loader-5-2 {
	0%   { -webkit-transform: translate3d(0, 0, 0) scale(1); }
	50%  { -webkit-transform: translate3d(24px, 0, 0) scale(.5); }
	100% { -webkit-transform: translate3d(0, 0, 0) scale(1); }
}
@keyframes loader-5-2 {
	0%   { transform: translate3d(0, 0, 0) scale(1); }
	50%  { transform: translate3d(24px, 0, 0) scale(.5); }
	100% { transform: translate3d(0, 0, 0) scale(1); }
}
.loader-5::after {
	content: "";
	display: block;
	position: absolute;
	top: 0; left: auto;
	bottom: 0; right: 0;
	margin: auto;
	width: 8px;
	height: 8px;
	background: #FFF;
	border-radius: 50%;
	-webkit-animation: loader-5-3 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
	        animation: loader-5-3 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
}
@-webkit-keyframes loader-5-3 {
	0%   { -webkit-transform: translate3d(0, 0, 0) scale(1); }
	50%  { -webkit-transform: translate3d(-24px, 0, 0) scale(.5); }
	100% { -webkit-transform: translate3d(0, 0, 0) scale(1); }
}
@keyframes loader-5-3 {
	0%   { transform: translate3d(0, 0, 0) scale(1); }
	50%  { transform: translate3d(-24px, 0, 0) scale(.5); }
	100% { transform: translate3d(0, 0, 0) scale(1); }
}
.loader-5 span {
	display: block;
	position: absolute;
	top: 0; left: 0;
	bottom: 0; right: 0;
	margin: auto;
	height: 32px;
	width: 32px;
}
.loader-5 span::before {
	content: "";
	display: block;
	position: absolute;
	top: 0; left: 0;
	bottom: auto; right: 0;
	margin: auto;
	width: 8px;
	height: 8px;
	background: #FFF;
	border-radius: 50%;
	-webkit-animation: loader-5-4 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
	        animation: loader-5-4 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
}
@-webkit-keyframes loader-5-4 {
	0%   { -webkit-transform: translate3d(0, 0, 0) scale(1); }
	50%  { -webkit-transform: translate3d(0, 24px, 0) scale(.5); }
	100% { -webkit-transform: translate3d(0, 0, 0) scale(1); }
}
@keyframes loader-5-4 {
	0%   { transform: translate3d(0, 0, 0) scale(1); }
	50%  { transform: translate3d(0, 24px, 0) scale(.5); }
	100% { transform: translate3d(0, 0, 0) scale(1); }
}
.loader-5 span::after {
	content: "";
	display: block;
	position: absolute;
	top: auto; left: 0;
	bottom: 0; right: 0;
	margin: auto;
	width: 8px;
	height: 8px;
	background: #FFF;
	border-radius: 50%;
	-webkit-animation: loader-5-5 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
	        animation: loader-5-5 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
}
@-webkit-keyframes loader-5-5 {
	0%   { -webkit-transform: translate3d(0, 0, 0) scale(1); }
	50%  { -webkit-transform: translate3d(0, -24px, 0) scale(.5); }
	100% { -webkit-transform: translate3d(0, 0, 0) scale(1); }
}
@keyframes loader-5-5 {
	0%   { transform: translate3d(0, 0, 0) scale(1); }
	50%  { transform: translate3d(0, -24px, 0) scale(.5); }
	100% { transform: translate3d(0, 0, 0) scale(1); }
}


@keyframes rotate-one {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@keyframes rotate-two {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@keyframes rotate-three {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}
.infinite-scroll-component {
  padding-top: 5px;
}
.text-sell {
  color: #378211 !important;
}
.text-pendding {
  color: #4a6679 !important;
}
.text-report {
  color: #b72727 !important;
}
.btn-option {
  border-radius: 7px;
  background: #000;
  border: none;
  padding: 10px 5px;
  font-size: 15px;
  border: 1px solid transparent;
  transition: all .3;
  font-weight: 500;
  margin-top: 15px;
  width: 100%;
  color: #fff;
  &:hover, &:focus{
    &:not([disabled]) {
      transition: all .3;
      border: 1px solid #000;
      background: #fff;
      color: #000;
    }
  }
  svg {
    padding-bottom: 2px;
  }
}
.btn-cancel {
  border-radius: 7px;
  background: #fff;
  border: none;
  padding: 10px 5px;
  font-size: 15px;
  border: 1px solid #000;
  transition: all .3;
  font-weight: 500;
  margin-top: 15px;
  width: 100%;
  color: #000;
  &:hover, &:focus{
    &:not([disabled]) {
      transition: all .3;
      border: 1px solid #fff;
      background: #000;
      color: #fff;
    }
  }
}

@keyframes imageload{
  0% {
  background-color: #fff;
  }
  50% {
    background-color: #ccc;
  }
  100% {
    background-color: #fff;
  }
}
.load-image {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  animation: imageload 2s infinite;
}
.m-center {
  margin: 0 auto;
}
@import 'Details';
@import 'Marketplace';
@import 'CreatorForm';
@import 'ProfileForm';
@import 'Responsive';