.edit-form-area {
  padding: 30px 0;
}

.upload_logo.text-center p {
  font-size: 14px;
  font-weight: 500;
  margin: 0 auto;
  margin-bottom: 13px;
}

.demo-cover {
  height: 235px;
}
.demo-avt {
  margin-top: -52px;
  border: 2px solid #fff;
  width: 105px;
  height: 105px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 20px;
}

.upload_logo.text-center {
  margin-bottom: 5px;
}

.edit-form-area .upload_btn {
  margin-bottom: 50px;
  .file-input {
    position: absolute;
    top: 0;
    opacity: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
    cursor: pointer;
    display: block !important;
  }
  .filename {
    display: flex;
    justify-content: center;
  }
}

.edit_form input, .edit_form textarea {
  padding: 30px 15px;
  border-radius: 0;
  margin-bottom: 20px;
}
.edit_form .input-group {
  border-radius: 0;
  margin-bottom: 20px;
}

button.btn.btn-primary {
  border-radius: 7px;
  background: #000;
  border: none;
  padding: 14px 50px;
  font-size: 18px;
  font-weight: 600;
  margin-top: 0;
}