@media screen and (max-width:767px) {
  .footer-menu li a{
    font-size: 12px;
  }
  .logo-area {
    max-width: 150px;
  }


  .logo-area {
    max-width: 150px;
  }



  span.menuLine {
      display: block;
      width: 100%;
      height: 2px;
      background: #fff;
      margin: 7px 0;
  }

  span.menuLine:nth-child(2) {
      width: 90%;
  }
  .logo-area {
    max-width: 150px;
}

.mobileMenuLine {
    width: 30px;
    height: 30px;
    float: right;
}

span.menuLine {
    display: block;
    width: 100%;
    height: 2px;
    background: #fff;
    margin: 6px 0;
}

span.menuLine:nth-child(2) {
    width: 90%;
}

  .mobile-menu-assets {
      position: fixed;
      height: 100%;
      width: 100%;
      background: #fff;
      z-index: 999;
      padding: 20px;
      left: -200%;
      transition: all .3s;
      top: 60px;
      visibility: hidden;
      opacity: 0;
  }

  .mobile-menu-assets.active{
    left: 0%;
    transition: all .3s;
    visibility: visible;
    opacity: 1;
  }



  .close-btn {
      position: absolute;
      right: 20px;
      top: 15px;
      font-weight: 300;
  }

  .mobile-menu-assets li a {
      color: #000;
      font-weight: 500;
      margin: 10px 0;
      display: block;
  }

  .mobile-search {
      margin-top: 30px;
      padding: 30px;
      
  }
  .mobile-search-icon{
    color: #fff;
    font-size: 20px;
    display: block;
    width: 30px;
    float: right;
  }



  .logo-area {
    max-width: 150px;
}

.mobileMenuLine {
    width: 30px;
    height: 30px;
    float: right;
}

span.menuLine {
    display: block;
    width: 100%;
    height: 2px;
    background: #fff;
    margin: 6px 0;
}

span.menuLine:nth-child(2) {
    width: 90%;
}

.mobile-menu-assets {
    position: fixed;
    height: 100%;
    width: 100%;
    background: #fff;
    z-index: 999;
    padding: 20px;
    left: 0;
    top: 60px;
}

.close-btn {
    position: absolute;
    right: 20px;
    top: 15px;
    font-weight: 300;
}

.mobile-menu-assets li a {
    color: #000;
    font-weight: 500;
    margin: 10px 0;
    display: block;
}

.mobile-search {
    margin-top: 30px;
}

.mobile-search {
    position: fixed;
    z-index: 99;
    background: #fff;
    width: 100%;
    box-shadow: 0 4px 8px #f1f1f1;
    left: -200%;
    top: 60px;
    padding-top: 50px;
    transition: all .3s;
    visibility: hidden;
    opacity: 0;
    .form-group{
      margin-bottom: 0;
    }
}
  .mobile-search.active{
    left: 0%;
    visibility: visible;
      opacity: 1;
    transition: all .3s;
  }
  .search-close {
    position: absolute;
    right: 30px;
    top: 20px;
    height: 20px;
    width: 20px;
    text-align: center;
    line-height: 20px;
  }


  .single-creator {
    display: inline-block;
    width: 32%;
  }
  .creator_list {
    display: block;
    justify-content:none;
    max-width: 100%;
  }

  .button-group a:last-child {
    margin-left: 0;
    margin-top: 20px;
  }
  small.title-top{
    margin-top: 30px;
  }
  .wel-title h1{
    font-size: 34px;
  }
  .wel-title h2{
    font-size: 26px;
  }

  .mobile-menu-assets ul {
      margin-top: 50px;
  }

  .mobile-menu-assets li {
      border-top: 1px solid #000;
  }

  .mobile-menu-assets li:last-child {
      border-bottom: 1px solid #000;
  }

  .userDetails{
    padding-left: 0;
  }

  .user_img {
    position: relative;
    left: 0;
    top: 0;
    height: 120px;
    width: 120px;
    object-fit: cover;
    margin-top: 0;
    margin-bottom: 10px;
  }
  .userDetails ul li{
    font-size: 14px;
  }

  .categories li {
    display: inline-block;
    margin: 4px 0;
  }
  .detailsHeroDeta{
    margin-top: 40px;
  }
  .usernave{
    margin-top: 30px;
  }

}


@media screen and (min-width:768px) and (max-width:1200px) {
  .main-menu li a{
    font-size: 13px;
  }
  .title-top{
    margin-top:40px;
  }
}


